<%- include("inner-header") -%>

<div class="container">
    <canvas style="margin: auto" id="myChart"></canvas>
    <ul style="display: none;">
      <li class='yValues'><%= data.solve[0] %></li>
      <li class='yValues'><%= data.solve[1] %></li>
      <li class='yValues'><%= data.solve[2] %></li>
      <li class='yValues'><%= data.solve[3] %></li>
      <li class='yValues'><%= data.solve[4] %></li>
      <li class='yValues'><%= data.solve[5] %></li>
      <li class='yValues'><%= data.solve[6] %></li>
      <li class='yValues'><%= data.solve[7] %></li>
      <li class='yValues'><%= data.solve[8] %></li>
      <li class='yValues'><%= data.solve[9] %></li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="chart.js"></script>

<%- include("footer") -%>